<p id="notice"><%= notice %></p>
<ul class="created-list">
<li>
  <h3><%=I18n.t('first_name')%></h3>
  <p><%= @user.first_name%></p>
</li>
<li>
  <h3><%=I18n.t('last_name')%></h3>
  <p><%= @user.last_name%></p>
</li>
<li>
  <h3><%=I18n.t('age')%></h3>
  <p><%= @user.age%></p>
</li>
<li>
  <h3><%=I18n.t('email')%></h3>
  <p><%= @user.email%></p>
</li>
</ul>
<p>
  <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
  <%= link_to_unless I18n.locale == :ar, "Arabic", locale: :ar %>
</p>
<%= link_to 'Back', new_user_path %>
